.login_input {
  width: 18rem;
  max-width: 30rem;
}

.btn_style {
  font-size: 15px;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

.btn_style:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .container {
    background-color: rebeccapurple;
  }

  .login_title {
    margin-left: 150px;
  }

  .login_label {
    display: block;
    align-self: center;
    justify-self: center;
  }

  .login_input {
    max-width: 350px;
  }
}
