.container {
  max-width: 80%;
  margin: 4rem auto 2rem auto;
  padding: 1rem;
  // :global {
  //   .ant-btn {
  //     background-color: green;
  //     border-color: green;
  //   }
  // }
}

.title {
  padding: 1.4rem;
  margin-left: 17%;
}
