@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

.container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem auto;
  // padding: 1rem;
  // :global {
  //   .ant-btn {
  //     background-color: green;
  //     border-color: green;
  //   }
  // }
}

.title {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.loginForm {
  animation: slideInFromBottom 0.5s ease-in;
}
